@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

.profilePhoto {
    height: 40rem;
    width: 30rem;
    border-radius: 5px;
}

.fa-github {
    color: black;
}

.heading {
    width: 20rem;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.skillDesc{
    font-size: 16px;
        
}
.skillsBlock{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.skills{
    width: 22%;
    height: 22%;

}

.skills img{
    height: 90px;
    width: 90px;
}



@media (max-width:576px)
{
    
}